h1 {color:#132043;}
body {background-color:#713ABE;}

a:hover {color:blue;} /*psuedo selector - works on  astae of an element */

body{
    background-color:#FFF2D8;
    background-image: url("../Github/linkedinlogobetter.png");
}
/**p {
background-color:#C70039;
padding: 20px;
border: 2px solid #eeeeee; 
}**/
nav a {color:#04364A;
    }

    nav a:hover {background-color:#DAFFFB;
    }
nav {background-color: #98E4FF;
        padding: 10px;
    }
.row1, .row2 {
        display: flex;
        background-color:#d59b27;
        border-radius: 1em;
        padding: 1em;
    }
.row1 {margin-bottom: 30px;
        margin-right: 15px;}
 .column1, .column2, .column3, .column4 {
        display: flex;
        flex-wrap: wrap;
    }
    .column4 {
        margin-left: 15px;;
    }
    .img1 {
        
    max-width: 100%;
  }

  @media (max-width: 768px) {
    nav a {
      width: 100%;
      display: block;
    }
  
    nav span {
      display: none;
    }
  
    nav a {
      margin: 8px 0;
    }
  }
  
    